{% load static %}

<style>
    .nav-img {
        width: 5%;
        object-fit: cover;
    }

    .transparent-background {
        background-color: transparent;
        border:none;
    }
</style>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <div class="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex ">
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Account</a>
                </li>
            </ul>
        </div>
        <div class="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex ">
                <li class="nav-item">
                    <a class="nav-link" href="#">English</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Order Tracking</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

</nav>

<nav class="navbar navbar-expand-sm navbar-light bg-light border-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">Pinacore</a>

        <button class="navbar-toggler btn btn-sm" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
            <form action="{% url 'app:index' %}" class="form-control collapse navbar-collapse" id="drop" style="background-color: transparent !important; border: none !important;">
                <div class="input-group col-sm-2">
                    <div class="input-group-text">Search</div>
                    <input class="form-control" type="search" aria-label="Search" name="q">
                    <!-- <div class="input-group-text">Search</div> -->
                    <a href="" class="btn btn-primary"><i class="bi bi-search"></i></a>
                    <!-- <img src="{% static 'images/nav/favourite.png' %}" class=" btn btn-success nav-img"> -->
                </div>
            </form>
            

        <div class="collapse navbar-collapse" id="drop">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex ">
                <li class="nav-item">
                    <a class="nav-link" href="#">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Favourites</a>
                </li>
                <li class="nav-item">
                    <button id='cart' type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">
                        Cart
                      </button>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:register' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<script>
    $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
  });
</script>