{% extends 'base.html' %}

{% load static %}


{% block title %}Category{% endblock title %}

{% block content %}
<style>
    .bold-text {
        font-weight: 800;
    }
    .card-img{
        width: 15%;
        /* height: 130px; */
        object-fit: cover;
    }
</style>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Main Categories</li>
                {% for value in sub_category %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="" style="color: black; text-decoration: none;">{{value.sub_category}}</a>
                </li>
                {% endfor %}
            </ul>
            <hr>
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Categories</li>
                {% for value in sub_type_category %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="#" style="color: black; text-decoration: none;">{{value.sub_type_category}}</a>
                </li>
                {% endfor %}
            </ul>
            <hr>
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Sub-Categories</li>
                {% for value in product %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="#" style="color: black; text-decoration: none;">{{value.name}}</a>
                </li>
                {% endfor %}
            </ul>
            <hr>
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Brand</li>
                {% for value in brand %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="#" style="color: black; text-decoration: none;">{{value.brand}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-8 col-md-9 border-start">
            <div class="mb-2">
                <small class="">{{product_count}} items in <span class="fw-bold">{{main_category}}</span></small>
            </div>
            {% for product in product %}
            <div class="card mt-3">
                <div class="d-flex">
                    <img class="card-img-top card-img col-sm-12 col-md-2 p-3 m-auto" src="{{product.image.url}}" alt="Card image cap">
                    <div class="card-body">
                        <small class="card-text fw-bold">{{product.brand}}</small><br>
                        <small class="card-text text-danger bold-text">{{product.discounted_price}}</small>
                        <small class="card-text"><del>{{product.price}}</del></small><br>
                        <small class="card-text">{{product.description}}</small><br>
                        <a href="{% url 'app:detail' product.id %}" class="text-decoration-none">View details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <br>
        </div>
    </div>
</div>

{% endblock content %}